<div>
  <h1>Envelope bugdeting app</h1>

  <div>
    <h3 class="mt-4">Create an Envelop</h3>
    <.form for={} phx-submit="create_envelop">
      <.input placeholder="Name your envelop" type="text" name="envelop_name" value="" />

      <button class="bg-black text-white p-2 px-3 mt-4 rounded-md">Create Envelop</button>
    </.form>
  </div>
</div>
